@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /*------------------------ COLOURS ------------------------ */
  --clr-black-900: #010202;
  --clr-black-800: #454545;
  --clr-gray-100: #eef0f5;
  --clr-gray-300: #babdbc;
  --clr-gray-400: #787a7a;
  --clr-orange-600: #ff8901;
  --clr-blue-800: #233c7b;
  --clr-blue-800-op-1: rgba(0, 48, 87, 0.1);
  --clr-blue-400: #07a4c3;
  --clr-blue-300: #a2cafa;
  --clr-brown-700: #5e340e;
  --clr-violet-600: #9f32ca;
  --clr-pink-700: #f14d60;

  /*------------------------ FONT FAMILY ------------------------ */
  --ff-Manrope: "Manrope";
  --ff-Poppins: "Poppins";
}

* {
  margin: 0%;
  padding: 0%;
  outline: 0ch;
  box-sizing: border-box;
  font-family: var(--ff-Poppins);
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ffffff;
}

.heading {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  color: var(--clr-blue-800);
}

.sub-heading {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: var(--clr-blue-800);
}

/*------------------- Scrollbar------------------- */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--clr-white-100);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-orange-600);
}

/* -----------------------NAVBAR--------------- */

.navbar {
  padding: 1% 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

/* NAVBER ROW-1 */

.nav-row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburge {
  display: none;
}

.logo {
  width: 10%;
}

.search-bar-container {
  width: 34rem;
  border: 1px solid var(--clr-blue-800);
  border-radius: 0.4rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.search-icon {
  display: inline-block;
}

.search-bar {
  flex: content;
  border: none;
  margin-left: 1.2rem;
}

.search-bar::placeholder {
  font-weight: 600;
  color: var(--clr-blue-800);
}

.btn {
  font-weight: 400;
  font-size: 1rem;
  padding: 7px 25px;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.signup-btn {
  border: transparent 2px solid;
  background-color: #fff;
  color: var(--clr-blue-800);
  margin-right: 2rem;
}

.signup-btn:hover {
  border: var(--clr-blue-800) 2px solid;
  cursor: pointer;
}

.signin-btn {
  background-color: var(--clr-blue-800);
  border: var(--clr-blue-800) 2px solid;
  color: #fff;
}

.signin-btn:hover {
  color: var(--clr-blue-800);
  background: #fff;
  cursor: pointer;
}

/* NAVBER ROW-2 */

.nav-row2 {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.nav-row2 a {
  text-decoration: none;
  color: var(--clr-blue-800);
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-blue-800);
  font-family: var(--ff-Poppins);
  background-color: transparent;
  border: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  padding: 1rem 0;
  width: max-content;
  list-style: none;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 100%;
  left: 20%;
  z-index: 10;
  display: none;
  box-shadow: 1px -1px 5px var(--clr-blue-800-op-1);
}

.dropdown-menu li {
  color: var(--clr-gray-400);
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0.5rem 2rem;
  padding: 2px 5px;
  transition: background-color ease-in-out 0.2s;
}

.dropdown-menu li a {
  color: var(--clr-gray-400);
}

.dropdown-menu li:hover {
  background-color: var(--clr-blue-800-op-1);
}

/*------------------------------------------ INTRODUCTION SECTION -1 ------------------------------------------*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: #fff;
}
/*------------------------------------------ INTRODUCTION SECTION -2 ------------------------------------------*/

#introduction-2 {
  margin: 6% 6% 10%;
}

.introduction-2-header {
  margin-bottom: 6%;
}

.introduction-2-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.introduction-2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction-2-content .image-container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-2-content .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.introduction-2-content p {
  margin-top: 40px;
  font-size: 2rem;
  text-align: center;
  line-height: 1.7;
}

.introduction-2-content p span {
  color: var(--clr-blue-800);
  font-weight: 600;
  font-size: 2.4rem;
}

/*------------------------------------------ COMPANIES  ------------------------------------------*/

#companies {
  background-color: var(--clr-gray-100);
  padding: 6%;
}
.company-image-slider {
  margin-top: 3rem;
}

.company-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-image-container img {
  object-fit: cover;
}

/*------------------------------------------ HALL OF FAME  ------------------------------------------*/

#achivers {
  padding: 6%;
}

.achivers-heading {
  margin-bottom: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 20px rgba(51, 51, 51, 0.2);
}

.achiver-content-container {
  padding: 3rem;
  margin: 1rem 0;
  height: 25rem;
  width: 22rem;
}

.achiver-content-container .achiver-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.achiver-content-container .achiver-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.achiver-content-container .achiver-info h2 {
  font-weight: 600;
  color: var(--clr-blue-800);
}

.achiver-content-container .achiver-info h3 {
  font-weight: 300;
  font-size: 0.8rem;
}
.achiver-content-container .achiver-info p {
  font-weight: 300;
  font-size: 0.9rem;
  height: 4rem;
  overflow-y: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 1px 1px 6px rgba(51, 51, 51, 0.333);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem !important;
}

/* --------------------------------------------- LIVE PROGRAMS -------------------------------------------- */

#live-programs {
  padding: 0 6% 6%;
}

.live-program-container {
  padding: 2rem;
  margin: 1rem;
  height: 25rem;
  gap: 1rem;
}

.program-name {
  width: 100%;
  color: var(--clr-blue-800);
  text-align: left;
}

.program-mentor {
  width: 100%;
  text-align: left;
}

.live-program-link-and-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.program-price {
  width: 100%;
  text-align: left;
  font-weight: 600;
}

.live-program-link {
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--clr-blue-300);
  border: 1px solid var(--clr-blue-400);
  padding: 4px 8px;
}

.view-more {
  text-align: center;
  margin-top: 1%;
}

.view-more a {
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  transition: all 300ms ease-in-out;
}

/* --------------------------------------------- AFFORDABLE PROGRAMS -------------------------------------------- */
#affordable-programs {
  padding: 0 6% 6%;
}

.affordable-programs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
}

.affordable-program-card {
  padding: 1.5rem;
  gap: 1rem;
}

.affordable-program-image {
  width: 20rem;
}
.affordable-program-image img {
  width: 100%;
  object-fit: cover;
}

/* --------------------------------------------- COMMUNITY PROGRAMS -------------------------------------------- */

.community-program-container {
  padding: 1rem;
  gap: 1rem;
  margin: 1rem 0;
  width: 22rem;
}

.community-program-container h3 {
  height: 4rem;
  overflow-y: hidden;
}

.community-program-image {
  width: 20rem;
}

/* --------------------------------------------- ONE NEURON -------------------------------------------- */
#one-neuron {
  padding: 6%;
}

.one-neuron-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 4rem;
}

.one-neuron-card {
  gap: 1rem;
  padding: 1rem;
}

.one-neuron-card p {
  color: #454545;
  font-size: 1rem;
  max-height: 3rem;
  overflow-y: hidden;
  max-width: 20rem;
}

.one-neuron-image {
  width: 20rem;
}

.one-neuron-image img {
  width: 100%;
  object-fit: cover;
}
/* --------------------------------------------- TEST PROGRAMS -------------------------------------------- */

#test-series {
  padding: 6%;
}
.test-series-slider {
  margin-top: 4rem;
}

.test-program-card {
  padding: 1rem;
  margin: 1rem 0;
  gap: 2rem;
}
.test-program-image {
  width: 20rem;
}
.test-program-image img {
  width: 100%;
  object-fit: cover;
}

/* --------------------------------------------- HACKTHONS -------------------------------------------- */
#hackathon {
  padding: 6%;
}

#hackathon h2 {
  margin-bottom: 3rem;
}

#hackathon img {
  width: 90%;
}

#hackthon-companies {
  padding: 6%;
  background-color: var(--clr-gray-100);
}

#hackthon-companies h1 {
  margin-bottom: 4rem;
}

/* --------------------------------------------- PRODUCTS -------------------------------------------- */

#products {
  padding: 6%;
}

.products-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.product-img {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.product-img img {
  width: 100%;
  object-fit: cover;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.product-card > p {
  max-width: 20rem;
}

/* <!-- PARTNER-INSTITUTION --> */
#partners {
  padding: 6%;
}

.partner-institutes {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.partners-img {
  width: 150px;
}

/* FOOTER */
#footer {
  padding: 3% 6%;
  background-color: var(--clr-blue-800);
  color: #fff;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4%;
}

.links a {
  text-decoration: none;
  color: #fff;
}

.social-icons {
  transition: all 200ms ease-in-out;
}

.social-icons:hover {
  color: #f27405;
}

.footer-inner {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
}

.ineuron-header {
  background: linear-gradient(#f27405, #f27405) left bottom no-repeat;
  background-size: 100px 3px;
  padding-bottom: 15px;
  margin-bottom: 2rem;
}

.address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.address a {
  text-decoration: none;
  color: #fff;
  transition: all 200ms ease-in-out;
}

.address a:hover {
  color: #f27405;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.p2-a {
  text-decoration: none;
  color: #fff;
  transition: all 200ms ease-in-out;
}

.p2-a:hover {
  color: #f27405;
}

.p1 {
  font-weight: 800;
  margin: 0;
}

.company h2 {
  font-size: 3rem;
  background: linear-gradient(#f27405, #f27405) left bottom no-repeat;
  background-size: 100px 3px;
  padding-bottom: 15px;
  margin-bottom: 2rem;
}

.company-info-list {
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 0.6rem;
}

.company-list-item a {
  text-decoration: none;
  color: #fff;
  transition: all 200ms ease-in-out;
}

.company-list-item a:hover {
  color: #f27405;
}

.products h2 {
  font-size: 3rem;
  background: linear-gradient(#f27405, #f27405) left bottom no-repeat;
  background-size: 100px 3px;
  padding-bottom: 15px;
  margin-bottom: 2rem;
}

.product-list {
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 0.6rem;
}

.product-list-item a {
  text-decoration: none;
  color: #fff;
  transition: all 200ms ease-in-out;
}

.product-list-item a:hover {
  color: #f27405;
}

@media (max-width: 900px) {
  .nav-row1 {
    justify-content: space-between;
  }
  .hamburge {
    display: block;
  }

  .search-bar-container {
    border: none;
    width: auto;
  }

  .search-bar-container input {
    display: none;
    flex: none;
  }

  .nav-row2,
  .header-right {
    display: none;
  }
}
